<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% if user_questions %}
  <br><br>
  Your surveys
  <br>
  {% for question in user_questions %}
    {{ question.question_text }}
    <br>
  {% endfor %}
  {% else %}
    <p>No surverys are available </p>
  {% endif %}
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}


<br><br><br>
<a href="{% url 'admin:index' %}">link to admin panel</a>
{% endblock %}

  